/** {
  font-family: Arial;

}
nav {
  height: 90px;
  width: 1024px;
  background-color: #524F46;
}
ul {
  list-style-type: none;
  padding: 30px;
  font-size: 20px;

}
ul li {
  display: inline;
  margin-left: 65px;
  padding: 0;
  color: #B0A998;
}


.one {
  height: 70px;
  width:200px;
  background-color: #000000;
  position: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 32px;
  color: #B0A998;
  text-align: center;
  font-size: 20px;


}
figure {
  height: 450px;
  width: 960px;
  background-color: #000000;
  color: #B0A998;
  text-align: center;
  font-size: 50px;
  margin: 20px;
}
.section1 {
  height: 375px;
  width: 300px;
  background-color: #000000;

}
.section2 { display: inline-block; width: 33%; }
.section3 { float: right; width: 33%; }

p {
  height: 480px;
  width: 400px;
  float: left;
}
div {

}
div header {
  position: fixed;
  z-index: 10;
}
footer {
  background-color: #403D37;
  height: 60px;
  width: 1024px;
  margin-top: 50px;
  position: static;
}



body {
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: #888;
}*/



}
header {
  background: #444;
  height: 100px;
}

.inner {
  width: 960px;
  margin: 0 auto;
}

header img {
  float: left;
  margin-top: 15px;
  margin-right: 30px;
}

header ul li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 75px;

}

main {
  width: 960px;
  margin: 30px auto;
}

.sub_banners li {
  float: left;
  margin: 30px 30px 30px 0;
}

.sub_banners li:last-child {
  margin-right: 0px;
}

.featured_section img {
  float: left;
  width: 50%;
}

.right {
  width: calc(50% - 30px);
  float: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.right p {
  height: 320px;
  overflow: auto;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
}

button {
  border: none;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  margin-top: 10px;
  transition: 400ms all;
  cursor: pointer;
}

button:hover {
  background: green;
}

footer {
  clear: both;
  background: #524F46;
  height: 150px;
}
