* {
  font-family: Arial;

}
nav {
  height: 90px;
  width: 1024px;
  background-color: #403D37;
}
ul {
  list-style-type: none;
  padding: 30px;
  font-size: 20px;

}
ul li {
  display: inline;
  margin-left: 65px;
  padding: 0;
  color: #B0A998;
}


.one {
  height: 70px;
  width:200px;
  background-color: #000000;
  position: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 32px;
  color: #B0A998;
  text-align: center;
  font-size: 20px;


}
figure {
  height: 450px;
  width: 960px;
  background-color: #000000;
  color: #B0A998;
  text-align: center;
  font-size: 50px;
  margin: 20px;
}
.section1 {
  height: 375px;
  width: 300px;
  background-color: #000000;

}
.section2 { display: inline-block; width: 33%; }
.section3 { float: right; width: 33%; }

p {
  height: 480px;
  width: 400px;
  float: left;
}
div {

}
div header {
  position: fixed;
  z-index: 10;
}
footer {
  background-color: #403D37;
  height: 60px;
  width: 1024px;
  margin-top: 50px;
  position: static;
}
